@import '../../styles/common-styles';


.card {
    height: 140px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: #232324;


    &__image {
        height: 100%;
        width: 100px;
        
        &-file {
            height: 100%;
            width: 100%;
        }
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;

        &-title {
            font-size: 1rem;
            color: #fff;
            font-weight: bold;
            width: 100px;
            overflow: hidden;

        }
    
        &-year {
            font-size: 0.75rem;
            color: $shoppies-gold;
            width: 100px;
        }
    
    
        &-button {
            width: 80px;
            height: 30px;
            font-size: .75rem;
            color: #ffffff;
            background-color: $shoppies-green;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            &--disabled {
                background-color: rgb(156, 156, 156);
                cursor: default;
            }
        }
    }
}