.card {

    height: 170px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: #232324;
    border-radius: 8px;

    // &:before {
    //     content: "";
    //     position: absolute;
    //     inset: 0px;
    //     background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    //     z-index: 1;
    // }

    &__image {
        height: 100%;
        width: 140px;
        
        &-file {
            height: 100%;
            width: 100%;
            border-radius: 8px 0 0 8px;
            object-fit: cover;
        }
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-right: 10px;

        &-title {
            font-size: 1rem;
            font-family: "Helvetica Neue";
            color: #fff;
            font-weight: bold;
            width: 100px;

        }
    
        &-year {
            font-size: 1rem;
            font-family: "Helvetica Neue";
            color: #ffffff;
            font-weight: bold;
            width: 100px;
        }
    
    
        &-button {
            width: 80px;
            height: 30px;
            font-size: .75rem;
            color: #ffffff;
            background-color: #018060;
            font-family: "Helvetica Neue";
            border-radius: 5px;
            border: none;

            &--disabled {
                font-family: "Helvetica Neue";
            }
        }
    }
}