@import '../../styles/common-styles';

.main-page {
    // background-image: url('../../assets/images/frame.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-size: 100vw 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;


    &__content {
        min-height: 100vh;
        width: 100vw;

        &-heading {
            width: 50%;
            margin: 0.5em auto;
            font-family: "Helvetica Neue";
            color: white;
            font-size: 1rem;
        }

        &-search {
            font-family: "Helvetica Neue";
            width: 70%;
            height: 39px;
            padding: 8px 38px;
            background-color: #E9E9E9;
            border: none;
            border-radius: 8px;
            background-image: url("../../assets/images/search-icon.svg");
            background-repeat: no-repeat;
            background-position: 16px;
        }

        &-items {
            width: 100%;

            @include tablet {
                display: flex;
                justify-content: space-around;
            }

            &-results {
                min-width: 50%;

                
                &-header {
                    font-family: "Helvetica Neue";
                    color: white;
                    background-color: #232324;
                    border-radius: 8px;
                    height: 48px;
                    width: 50%;
                    margin: 1em auto;
                    font-size: 1.25rem;
                    line-height: 50px;

                }
                &-cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }
            }

            &-nominees {
                min-width: 50%;
                
                &-header {
                    font-size: 1.25rem;
                    font-family: "Helvetica Neue";
                    color: white;
                    background-color: #232324;
                    border-radius: 8px;
                    height: 48px;
                    width: 50%;
                    margin: 1em auto;
                    line-height: 50px;

                }

                &-cards{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        &-sections {

            @include tablet {
                display: flex;
                justify-content: space-around;
            }
        }

        &-results {
            margin: 135px 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 94%;
            @include tablet {
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                width: 50%;
            }
        }

        &-title {
            color: #d6c771;
            font-size: 2rem;
            margin-bottom: 0.5em;
        }

        &-nominees {
            height: 100%;
            background-color: black;
            // background-image: url('../../assets/images/stage-background.jpg');
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 auto;
            // min-height: 50vh;
            min-width: 100vw;
            // width: 70%;

            @include tablet {
                min-height: 0;
                min-width: 0;
                margin: 135px 0;
                flex-direction: column;
            }
        }
    }
}

.confirm-nom {
    background-color: rgb(79, 112, 79);
    width: 50%;
    margin: 1em auto;
    padding: 0.5em 0;
    border-radius: 8px;

    &__header {
        font-family: "Helvetica Neue";
        color: white;

    }

    &__button {
        font-family: "Helvetica Neue";
        color: black;
        border: none;
        border-radius: 4px;
        height: 24px;
        background-color: rgb(141, 153, 141);
    }
}