.nav {
    height: 120px;
    padding: 1.5em 0;
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__header {
        color: #d6c771;
        font-size: 1.5rem;
    }

    &__search {
        font-family: "Helvetica Neue";
        width: 168px;
        height: 32px;
        padding: 8px 38px;
        background-color: #E9E9E9;
        border: none;
        border-radius: 8px;
        background-image: url("../../assets/images/search-icon.svg");
        background-repeat: no-repeat;
        background-position: 16px;
    }

    &__nominee-count {
        &-value {
            font-family: "Helvetica Neue";
            color: white;
        }
    }


}