@import '../../styles/common-styles';

.nav {
    height: 150px;
    padding: 24px 0;
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        height: 180px;
    }

    &__header {
        color: $shoppies-gold;
        font-size: 1.5rem;
        @include atlas;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__items {

        @include tablet {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
        }

        &-search {
            width: 168px;
            height: 16px;
            padding: 8px 38px;
            background-color: #E9E9E9;
            border: none;
            border-radius: 8px;
            background-image: url("../../assets/images/search-icon.svg");
            background-repeat: no-repeat;
            background-position: 16px;
        }
    
        &-count {
            color: #ffffff;
        }
    }
}