@import '../../styles/common-styles';

.final-results {
    background-color: black;
    background-image: url('../../assets/images/stage-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        display: none;
        @include tablet {
            display: block;
            position: absolute;
            height: 56vh;
            bottom: 80px;
            left: 100px;
        }

    }

    &__display {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        position: absolute;

        @include tablet {
            flex-direction: row;
        }
        


        &-card {
            height: 110px;
            width: 80px;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin: 0.5em;

            @include desktop {
                height: 150px;
                width: 120px;
            }
    
            &:before {
                content: "";
                position: absolute;
                inset: 0px;
                background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
                z-index: 1;
            }
    
            &-items {
                position: relative;
    
                &-image {
                    height: 100%;
                    width: 100%;
                }
                &-title {
                    position: absolute;
                    z-index: 3;
                    font-size: 1rem;
                    font-family: "Helvetica Neue";
                    color: #ffffff;
                    font-weight: bold;
                    bottom: 12px;
                    text-align: center;
                    width: 100%;

                    @include desktop {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}