@import '../../styles/common-styles';

.final-results {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__link {
        text-decoration: none;
        position: absolute;
        top: 0;
        padding: 24px 0;



        &-header {
            @include atlas;
            color: $shoppies-gold;
            font-size: 1.5rem;

            @include desktop {
                font-size: 3rem;
            }
        }
    }

    &__message {
        color: #ffffff;
        margin-bottom: 0.5em;

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__display {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 16px;

        
        &-card {
            height: 110px;
            width: 80px;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin: 0.5em;

            @include tablet {
                height: 175px;
                width: 125px;
            }
    
            &:before {
                content: "";
                position: absolute;
                inset: 0px;
                background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
                z-index: 1;
            }
    
            &-items {
                position: relative;
    
                &-image {
                    height: 100%;
                    width: 100%;
                }
                &-title {
                    position: absolute;
                    z-index: 3;
                    font-size: 0.75rem;
                    color: #ffffff;
                    font-weight: bold;
                    bottom: 16px;
                    text-align: center;
                    width: 100%;

                    @include tablet {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    &__share {
        width: 40%;
        display: flex;
        justify-content: space-around;

        @include tablet {
            width: 15%;
        }
    }
}